/* 
    RESET
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "PT Sans", sans-serif;
}

/* 
    GENERAL
*/

/* mobile container */
.container {
    max-width: 90%;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    width: 100%;

}

img {
    max-width: 100%;
}

a {
    display: inline-block;
}

.button {
    border-radius: 50px;
    padding: 10px 20px;

}

.white-btn {
    background-color: white;
}

.blue-btn {
    text-decoration: none;
    background-color: #0084FD;
    color: white;

}

.violet-btn {
    text-decoration: none;
    background-color: #9792E4;
    color: white;
    border: none;
}

.blue-bg {
    background-color: #0084FD;
}

.violet-bg {
    background-color: #9792E4;
}

.light-blue-bg {
    background-color: #B5DDFF;
}

.white-bg {
    background-color: white;
}

.blue-color {
    color: #0084FD;
}

.white-txt {
    color: white;
}

.gray-txt {
    color: #5A6E7F;

}

.violet-txt {
    color: #9792E4;
}


.card {
    padding: 20px 10px;
    height: 100%;

}

.center-text {
    text-align: center;
}

.mar-bot-20 {
    margin-bottom: 20px;
}

.mar-bot-40 {
    margin-bottom: 40px;
}

.mar-bot-80 {
    margin-bottom: 80px;
}

.border-rd-20 {
    border-radius: 20px;
}

h2 {
    font-size: 2.5rem;
}

i {
    margin: 0 10px;
}

/* HEADER */

header {
    color: white;
    padding: 5px 0;


}

header .row {
    justify-content: space-between;
}

header .row>* {
    padding: 10px 0;
}

.desktop-menu ul {
    display: none;
    list-style: none;
}

.desktop-menu ul li {
    display: inline-block;
}

.desktop-menu ul li a,
.mobile-menu a {
    display: inline-block;
    text-decoration: none;
    color: white;
}

.desktop-menu ul li a {

    padding: 10px;
}

.desktop-menu ul .button.white-btn {
    color: black;
}



/* MAIN */

#features-section .row {
    justify-content: space-between;
    position: relative;

}

#features-section .row .img-container {
    position: relative;
    top: 24px;

}

#features-section h2 {
    font-size: 1.3rem;
}



/* second section */

#work-flow-section .small-container>.row {
    align-items: flex-end;
}

#work-flow-section .col-desktop-1-2 .offset .card {
    text-align: center;
}

#work-flow-section .button.violet-btn {
    padding: 20px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: none;
    color: black;


}

#work-flow-section .button.violet-btn>i {
    margin-right: 0;
}


#work-flow-section {
    padding: 40px 0;
}



/* third section- testimonials */

#testimonials-section .container {
    text-align: center;
}

#testimonials-section .container p {
    font-size: 1.5rem;
    line-height: 2.5rem;
    font-weight: bold;
}

#testimonials-section .container h3 {
    font-size: 1.5rem;
    font-weight: bold;
}

#testimonials-section .container .card {
    justify-content: center;
}

#testimonials-section .container .card .col {
    padding: 20px;
}

#testimonials-section .container .card img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    /* rivedere lezione per sistemare immagine su tablet */


}

/* fourth section- benefits */

#benefits-section {
    padding: 40px 0;
}

#benefits-section .row {
    justify-content: space-between;
}

#benefits-section .row .col .card {
    padding: 50px 25px;
}

#benefits-section .card h2 {
    font-size: 4rem;
}

#benefits-section .card p:first-of-type {
    font-size: 2rem;
    font-weight: bold;
}

#benefits-section .card p:last-of-type {
    font-size: 1.5rem;
    line-height: 2rem;

}

#benefits-section .card .button {
    font-size: 1.5rem;
    font-weight: bold;


}

/* <!-- FIFTH SECTION- ABOUT US --> */
#about-us-section {
    padding: 40px 0;
}

#about-us-section p {
    font-size: 1.5rem;
    line-height: 2.5rem;
    font-weight: bold;
}

#about-us-section .container .col .img-container {
    text-align: center;
    position: relative;

}

#about-us-section .container .col .img-container>i {
    position: absolute;
    top: 0;
    left: 63%;

}

#about-us-section .container .col img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;

}

#about-us-section .button.violet-btn {
    font-weight: bold;

}



/* FOOTER */

#footer-top {
    padding: 40px 0;
}

#footer-top h4 {
    color: #CFCDF2;
    font-size: 1.5rem;

}

#footer-top h3 {
    font-size: 2rem;

}

#footer-top h2 {
    color: #FDC15F;
    font-size: 4rem;

}

#footer-top p {
    font-size: 1.2rem;
    line-height: 2.2rem;
    font-weight: 600;

}

#footer-top .button {
    border: none;
    padding: 0;

}

#footer-top .button a {
    padding: 15px 20px;
    text-decoration: none;
    color: #9792E4;
    font-size: 1.3rem;
    font-weight: bold;

}

#footer-top .copyright a {
    color: white;

}

#footer-top .copyright p {
    font-size: 0.8rem;
}

#footer-top .copyright p i {
    font-size: 0.5rem
}





/* RESPONSIVE */

/* tablet */
@media screen and (min-width: 576px) {
    .col-desktop-1-3 {
        width: 32%;

    }

    .col-desktop-2-3 {
        width: 65%
    }

    .col-tablet-1-2 {
        width: 48%;
    }

    .col-tablet-2-5 {
        width: calc((100% / 5) * 2);
        padding: 0 10px;


    }

    .col-tablet-3-5 {
        width: calc((100% / 5) * 3);
        padding: 0 10px;

    }

    #features-section .card .col-desktop-1-2>div {
        text-align: left;


    }

    #testimonials-section .row {

        align-items: center;
        text-align: left;
    }
}

/* desktop */
@media screen and (min-width: 992px) {
    #work-flow-section .small-container {
        max-width: 80%;
        margin: 0 auto;
    }

    #footer-top .small-container {
        max-width: 40%;
        margin: 0 auto;
    }

    .container {
        max-width: 900px;
    }

    .mobile-menu {
        display: none;
    }

    .desktop-menu ul {
        display: block;
    }

    .col-desktop-1-3 {
        width: 32%;

    }

    .col-desktop-2-3 {
        width: 65%
    }

    .col-desktop-1-2 {
        width: 50%;
    }

    #work-flow-section .offset {
        width: 80%;
        margin: 0 auto;

    }

    #work-flow-section .offset .card img {
        width: 80%;
    }

}


/* DEBUG */

/* .debug header {
    background-color: aqua;

} */

/* .debug .logo {
    color: white;
} */

/* .debug main .col {

    background-color: aquamarine;
    border: 2px dashed red;
} */