/* 
    RESET
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Roboto", sans-serif;
}

/* 
    GENERAL
*/

/* mobile container */
.container {
    max-width: 90%;
    margin: 0 auto;
}




.row {
    display: flex;
    flex-wrap: wrap;
}

img {
    max-width: 100%;
}

a {
    display: inline-block;
}

.button {
    border-radius: 50px;
    padding: 10px 50px;

}

.white-btn {
    background-color: white;
}

.blue-btn {
    text-decoration: none;
    background-color: #0084FD;
    color: white;

}

.blue-bg {
    background-color: #0084FD;
}

.violet-bg {
    background-color: #9792E4;
}

.light-blue-bg {
    background-color: #B5DDFF;
}

.blue-color {
    color: #0084FD;
}

.white-txt {
    color: white;
}

.gray-txt {
    color: #5A6E7F;

}

.violet-txt {
    background-color: #9792E4;
}


.col {
    width: 100%;

}

.card {
    padding: 20px;
    height: 100%;

}

.center-text {
    text-align: center;
}

.mar-bot-20 {
    margin-bottom: 20px;
}

.mar-bot-40 {
    margin-bottom: 40px;
}

.border-rd-20 {
    border-radius: 20px;
}


/* HEADER */

header {
    color: white;
    padding: 5px 0;


}

header .row {
    justify-content: space-between;
}

header .row>* {
    padding: 10px 0;
}

.desktop-menu ul {
    display: none;
    list-style: none;
}

.desktop-menu ul li {
    display: inline-block;
}

.desktop-menu ul li a,
.mobile-menu a {
    display: inline-block;
    text-decoration: none;
    color: white;
}

.desktop-menu ul li a {

    padding: 10px;
}

.desktop-menu ul .button.white-btn {
    color: black;
}



/* MAIN */



#features-section .card:last-child {
    position: relative;
}



#features-section .card img {
    position: relative;
    top: 24px;

}

#features-section .row {
    justify-content: space-between;

}

#work-flow-section {
    padding: 40px 0;
}

#work-flow-section h2 {
    font-size: 2.5rem;
}






/* FOOTER */


/* RESPONSIVE */

/* tablet */
@media screen and (min-width: 576px) {
    .col-desktop-1-3 {
        width: 32%;
    }

    .col-desktop-2-3 {
        width: 65%
    }

    #features-section .card .col-desktop-1-2>div {
        text-align: left;
    }
}

/* desktop */
@media screen and (min-width: 992px) {
    .small-container {
        max-width: 80%;
        margin: 0 auto;
    }

    .container {
        max-width: 900px;
    }

    .mobile-menu {
        display: none;
    }

    .desktop-menu ul {
        display: block;
    }



    .col-desktop-1-2 {
        width: 50%;
    }

}


/* DEBUG */

/* .debug header {
    background-color: aqua;

} */

/* .debug .logo {
    color: white;
} */

/* .debug main .col {

    background-color: aquamarine;
    border: 2px dashed red;
} */